<div class="round-menu">
    <div class="text-block"><p><%= text %></p></div>
    <div class="item-menu"><div class="item"><img src="<%= 'assets/items/' + item.toLowerCase() + '.png' %>"></div><h3><%= item.toLowerCase() %></h3></div>
    <div class="disaster-menu"><div class="disaster"><img src="<%= 'assets/disasters/' + disaster.toLowerCase() + '.png' %>"></div><h3><%= disaster.toLowerCase() %></h3></div>
    <p class="space">- Space to continue -</p>
    <div class="website-btn btn"><a href="http://www.likethemammal.com/">WWW</a></div>
</div>